<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>email ejs template</title>
</head>
<body>
    <!-- View engine을 활용한 응답처리 연습 -->
    <h1>Welcome <%= email %></h1>
    <p>Test</p>
</body>
</html>