<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <article>

    </article>
    <input type="button" value="fetch" onclick="
        fetch('dayone_korea.json').then(function(response){
            response.text().then(function(text){
                // alert(text);
                document.querySelector('article').innerHTML = text;
            })
        })
    ">
</body>
</html>