<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
</head>
<body>
    <!-- 루트 페이지 -->
    <h1>COVID-19</h1>
    <p>South Korea</p>

    <button id="getData">Get COVID DATA</button>
    <hr>
    <div id="output"></div>

    <script src="api">
      /**
       * api.js의 함수 불러오기
       * window.onload 사용하여 함수 호출
       * fetch의 결과는 JSON 타입으로 이 페이지에 출력
       */ 
    </script>

    
</body>
</html>