<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
</head>
<body>
    <h1>COVID-19</h1>
    <p>South Korea</p>


    <button id="getData">Get COVID DATA</button>
    <hr>
    <div id="output"></div>

    <script>
        document.getElementById('getData').addEventListener('click', getData);

        function getData(){
            fetch('https://api.covid19api.com/dayone/country/south-korea/status/confirmed')
            .then((res)=>res.json())
            .then((data) => {
                let output = `
                    <h2>COVID19-DayOne</h2>
                `;
                data.forEach(function(e){
                    output += `
                    <u1>
                        <li>Country : ${e.Country}</li>
                        <li>CountryCode : ${e.CountryCode}</li>
                        <li>Cases : ${e.Cases}</li>
                        <li>Date : ${e.Date}</li>
                    </u1>      
                    </br>              
                    `;
                })
                document.getElementById('output').innerHTML = output;
            });
        }
    </script>
</body>
</html>